// dot pattern
dot(bg)
	background -webkit-radial-gradient(bg 15%, transparent 15%), -webkit-radial-gradient(bg 15%, transparent 15%), transparent !important
	background-size 10px 10px !important

.container
	padding 0 30px

header.is-alt .container
	position relative

	&:before
		content ''
		position absolute
		left 2rem
		right 2rem
		bottom 0
		height 1px
		background #eee
		transition .3s all ease

header.is-alt.shadow .container:before
	opacity 0

.post-list #privacy
	display none

footer ahover
	text-decoration underline

.article.article *
	font-size unset
	margin-bottom unset
	line-height 1.85

article > h1 > a,
article > h2 > a,
article > h3 > a,
article > h4 > a,
article > h5 > a,
article > h6 > a
	display none

.article.article.article h1
	font-size 38px
	font-weight 800

.article.article.article h2
	font-size 26px
	font-weight 800

.article.article.article h3
	font-size 22px
	font-weight 800

.article.article.article h4
	font-weight 800
	margin-top 50px !important

.article.article.article h5
	font-weight 600

.article.article.article code
	padding 30px
	background black
	color #fff
	display block
	overflow scroll

.popup-wrapper
	transition .3s all ease
	opacity 0
	pointer-events none

.popup-wrapper .popup
	opacity 0
	transform translateY is-active(30px)
	transition .3s all ease

	.img-wrapper
		.wrapper-bg
			border-top-left-radius 100%
			border-top-right-radius 100%
			height 70%
			transform-origin top
			transform scale(1.2)

.popup-wrapper.is-active
	opacity 1
	pointer-events auto

.popup-wrapper.is-active .popup
	opacity 1
	transform none
	transition-delay .3s





// rounded bg
.rounded-bg
	transform scale(2)
	&.bottom
		transform-origin bottom
		border-bottom-left-radius 50%
		border-bottom-right-radius 50%
	&.top
		transform-origin top
		border-top-left-radius 50%
		border-top-right-radius 50%

@media (max-width: 768px)
	.rounded-bg
		transform scale(8)

#home-hero
	.rounded-bg
		bottom -150px

// #home-why
// 	.rounded-bg
// 		top -220px



// checkmark
.w-checkmark
	li
		position relative
		padding-left 25px
		&:before
			content ''
			position absolute
			top 0
			left 0
			display block
			width 15px
			height 15px
			background url(../../static/check.svg) no-repeat center center / cover
			top 4px
		&:not(:last-child)
			margin-bottom 10px


// custom checkbox
toggleHeight = 32px
.custom-checkbox
	position relative
	cursor pointer
	[type="checkbox"]
		opacity 0
		width 52px
		height toggleHeight
		&:checked
			+ .toggle
				&:before
					background #48bb78
				&:after
					transform translateX(20px)

	label
		line-height toggleHeight

	.toggle
		position absolute
		left 0
		top 0
		width 52px
		height toggleHeight
		pointer-events none
		&:before, &:after
			content ''
			position absolute
		&:before
			top 0
			left 0
			width 52px
			height 32px
			border-radius 50px
			background #bbb
			transition .3s all ease
		&:after
			transition .3s all ease
			top 3px
			left 3px
			width 26px
			height 26px
			border-radius 50%
			background white

// featured post
#featured-post .img-wrapper
	position relative
	&:before
		content ''
		position absolute
		left 50%
		top -30%
		bottom -30%
		width 70%
		dot(#48bb78)

	@media(max-width: 768px)
		&:before
			top 50%
			left -30%
			width unset
			right -30%
			bottom -50%
