@import 'https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css';

@tailwind base;

/* a:not(.button):not(.footer-a) { */
/* 	@apply text-blue-500 transition duration-300 ease-in-out; */
/* } */

/* a:not(.button):not(.footer-a):hover { */
/* 	@apply text-blue-700; */
/* } */

.button {
	@apply inline-block px-5 py-2 text-white bg-green-500 rounded-lg shadow cursor-pointer transition duration-300 ease-in-out;
}

.fname-field-blog {
	padding-bottom: 1%;
}

.button:hover {
	@apply bg-green-700 border-green-700;
}

h2 {
	@apply text-4xl font-bold leading-tight text-black;
}

h3 {
	@apply text-3xl font-bold text-black;
}

p {
	@apply leading-relaxed;
}

footer .footer-title {
	@apply text-lg font-semibold;
}

.link {
	@apply text-green-500;
}

.link:hover {
	text-decoration: underline;
}

article ul, article ol {
	list-style-type: circle;
}

header li, footer li {
	list-style-type: none;
}

b, strong {
	font-weight: bolder;
}

/* mobile */
@media (max-width: 768px) {
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
}

@tailwind components;

@tailwind utilities;
